{% extends "base.html" %}
{% load i18n %}{% load l10n %}

{% block title %}
    {% block h1title %}
        {% if rdns %}
            {{ rdns }} - {% trans "random edit browser" %}
        {% else %}
            {{ wiki_name }} - {% trans "random edit browser" %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block html5_start %}{% endblock %}

{% block div_container_end %}
    </div>
    <iframe src="{{ url }}" width="100%" height="75%" />
{% endblock %}

{% block content %}
    <p>{% trans "You are watching:" %} <a href="{{ url }}">{{ url }}</a>.
    {% trans "rDNS: " %}{{ edit.rdns }}.
    {% blocktrans %}
    Refresh the page to see the next edit. For more information, click
    {% endblocktrans %}
    <a href="/">{% trans "HERE" %}</a>.
    {% if rdns %}
    <a href="/by_rdns_single/{{ wiki_name }}/{{ wikipedia_edit_id }}">{% trans "Link for sharing" %}</a>
    {% endif %}
{% endblock %}
