{% extends "base.html" %}
{% load i18n %}{% load l10n %}{% load zwspace %}
{% block title %}
    {% block h1title %}
        {% blocktrans %}rDNS query for {{ rdns }}{% endblocktrans %}
    {% endblock %}
{% endblock %}
{% block content %}
<p>

    {% if offset > 0 %}
    <a href="/by_rdns/{{ wiki_name }}/{{ rdns }}/{{ offset|add:"-50" }}">
        {% trans "Previous page" %}</a>
    |
    {% endif %}

    <a href="/by_rdns/{{ wiki_name }}/{{ rdns }}/{{ offset|add:"50" }}">
        {% trans "Next page" %}</a>

    {% if pagesize != "0" %}
    |
    <a href="/by_rdns/{{ wiki_name }}/{{ rdns }}/0/0">
        {% trans "Full list" %}</a>
    {% endif %}
    |
    <a href="/by_rdns_random/{{ wiki_name }}/{{ rdns }}" class="text-success">
        {% trans "Random preview mode" %}</a>

</p>

<!-- TODO: delegate this to a separate CSS -->
<style>
.show-grid
{
    margin-bottom:10px;
}
.show-grid [class^=col-]
{
    border:1px solid rgba(86,61,124,.2);
    padding-bottom:10px;
    padding-top:10px;
    height: 4.5em;
}
</style>
<table id="tablesorter" class="table">
<div class="container">

    <div class="row show-grid {% if not skip_labels %}hidden-xs{% endif %}">
        <div class="col-md-2"><strong>{% trans "IP" %} [{% trans "WHOIS" %}]</strong></div>
        <div class="col-md-2"><strong>{% trans "rDNS" %}</strong></div>
        <div class="col-md-4"><strong>{% trans "Title" %}</strong></div>
        <div class="col-md-2"><strong>{% trans "Edit time" %}</strong></div>
        <div class="col-md-1"><strong>{% trans "Views (+)" %}</strong></div>
        <div class="col-md-1"><strong>{% trans "URL" %}</strong></div>
    </div>
    {% for edit in edits %}
        <div class="row show-grid">
            <div class="col-md-2">
                {% if not skip_labels %}<p class="visible-xs-inline"><strong>{% trans "IP" %} [{% trans "WHOIS" %}]</strong>:</p>{% endif %}

                {{ edit.ip }}
                [<a href="https://whois.domaintools.com/{{ edit.ip}}"
                >{% comment %}Translators: this is an abbreviation of "WHOIS"{% endcomment %}{% trans "W" %}</a>]
            </div>
            <div class="col-md-2">
                {% if not skip_labels %}<p class="visible-xs-inline"><strong>{% trans "rDNS" %}</strong>:</p>{% endif %}
                {{ edit.rdns|zwspace:"." }}
            </div>
            <div class="col-md-4">
                {% if not skip_labels %}<p class="visible-xs-inline"><strong>{% trans "Title" %}</strong>:</p>{% endif %}
                {{ edit.title }}
            </div>
            <div class="col-md-2">
                {% if not skip_labels %}<p class="visible-xs-inline"><strong>{% trans "Edit time" %}</strong>:</p>{% endif %}
                {{ edit.time }}
            </div>
            <div class="col-md-1">
                {% if not skip_labels %}<p class="visible-xs-inline"><strong>{% trans "Views (+)" %}</strong>:</p>{% endif %}
                {{ edit.view_count }}
            </div>
            <div class="col-md-1">
                <a href="/view_edit/{{ wiki_name }}/{{ edit.wikipedia_edit_id }}">{% trans "LINK" %}</a>
                <!--<a href="https://pl.m.wikipedia.org/wiki/Specjalna:MobileDiff/{{ edit.wikipedia_edit_id }}">{% trans "LINK" %}</a>-->
                <a href="https://pl.wikipedia.org/w/index.php?diff=prev&oldid={{ edit.wikipedia_edit_id }}">[2]</a>
            </div>
        </div>
    {% endfor %}
</div>
<p>

    {% if offset > 0 %}
    <a href="/by_rdns/{{ wiki_name }}/{{ rdns }}/{{ offset|add:"-50" }}">
        {% trans "Previous page" %}</a>
    |
    {% endif %}

    <a href="/by_rdns/{{ wiki_name }}/{{ rdns }}/{{ offset|add:"50" }}">
        {% trans "Next page" %}</a>

    {% if pagesize != "0" %}
    |
    <a href="/by_rdns/{{ wiki_name }}/{{ rdns }}/0/0">
        {% trans "Full list" %}</a>
    {% endif %}
    |
    <a href="/by_rdns_random/{{ wiki_name }}/{{ rdns }}" class="text-success">
        {% trans "Random preview mode" %}</a>
</p>
{% endblock %}
