{% extends "base.html" %}
{% load i18n %}{% load l10n %}
{% block title %}
    {% block h1title %}
        {% trans "Main page" %}
    {% endblock %}
{% endblock %}
{% block content %}

<h3>{% trans "Welcome to WikiSpy!" %}</h3>
<p class="text-justify">{% blocktrans %}WikiSpy is a website that allows you to
see Wikipedia anonymous edits made by a given Internet domain. You can use it
for example to discover how your government is changing the free encyclopedia
and what the officials are doing when they are bored.{% endblocktrans %}</p>

<h3>{% trans "How do I use that?" %}</h3>
<p class="text-justify">{% blocktrans %}Just pick enter a domain you are interested
in and click "Submit" or click the "sample query" link below:
{% endblocktrans %}</p>

{% if error %}
<p class="bg-danger padded">{{ error }}</p>
{% endif %}

<form action="." method="post" class="form-inline">{% csrf_token %}
  <div class="form-group">
    <label class="padded-top" for="rdns">{% trans "rDNS" %}:</label>
    <input class="form-control" name="rdns" id="rdns"
      placeholder="{% comment %}Translators: This would be the default domain
      suggested in the index page.{% endcomment %}{% trans ".gov" %}">
    <label class="padded-top" for="wiki">{% trans "Wiki" %}:</label>
    <select class="form-control" name="wiki" id="wiki">
    {% for wiki in wikis %}
      <option value="{{ wiki.name }}">{{ wiki.name }}</option>
    {% endfor %}
    </select>

  </div>
  <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
</form>

<p class="padded-top">
    <a href="/by_rdns/plwiki/{% trans ".gov" %}">
        {% trans "Click here for a sample query." %}
    </a>
</p>

<h3>{% trans "Search by IP range" %}</h3>

<p class="text-justify">{% blocktrans %}You can also search by IP range. Just fill
the start IP and end IP (inclusive) in the forms below:{% endblocktrans %}</p>

<form action="." method="post" class="form-inline">{% csrf_token %}
  <div class="form-group">
    <label class="padded-top" for="startip">{% trans "Start IP" %}:</label>
    <input class="form-control" name="startip" id="startip">

    <label class="padded-top" for="endip">{% trans "End IP" %}:</label>
    <input class="form-control" name="endip" id="endip">

    <label class="padded-top" for="wiki">{% trans "Wiki" %}:</label>
    <select class="form-control" name="wiki" id="wiki">
    {% for wiki in wikis %}
      <option value="{{ wiki.name }}">{{ wiki.name }}</option>
    {% endfor %}
    </select>

  </div>
  <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
</form>

<h3>{% trans "How does it work?" %}</h3>
<p class="text-justify">{% blocktrans %}Wikipedia allows all users to download
its whole history dating back to the very first changes. This website allows
you to query a database that was created by downloading such an archive and
looking for changes made by unregistered users. Such changes are recorded
along with the IP address of the person who made them. WikiSpy joins this data
with a database of so-called "reverse DNS" domains tied to the IP addresses.
After that, all you need to do is enter a domain and you can see changes tied
to it - what article was changed, when, by which IP and what was the change
about.
{% endblocktrans %}<a href="/info">{% trans "Find out more here." %}</a></p>

{% endblock %}
