{% extends "base.html" %}
{% load i18n %}{% load l10n %}
{% block title %}
    {% block h1title %}
        {% trans "Help and information" %}
    {% endblock %}
{% endblock %}
{% block content %}
<h3>{% trans "What is WikiSpy?" %}</h3>
<p>{% blocktrans %}WikiSpy is a website that allows you to see Wikipedia
anonymous edits made by a given Internet domain. You can use it for example
to discover how your government is changing the free encyclopedia and what
the officials are doing when they are bored.{% endblocktrans %}</p>

<h3>{% trans "How do I use that?" %}</h3>
<p>{% blocktrans %}Visit <a href="/">the home page</a> and follow the
instructions there.{% endblocktrans %}</p>

<h3>{% trans "How does it work?" %}</h3>
<p>{% blocktrans %}Wikipedia allows all users to download its whole history
dating back to the very first changes. This website allows you to query
a database that was created by downloading such an archive and looking for
changes made by unregistered users. Such changes are recorded along with the IP
address of the person who made them. WikiSpy joins this data with a database
of so-called "reverse DNS" domains tied to the IP addresses. After that, all
you need to do is enter a domain and you can see changes tied to it - what
article was changed, when, by which IP and what was the change about.
{% endblocktrans %}</p>

<h3>{% trans "How to read the reports?" %}</h3>
{% blocktrans %}
This section is going to be filled in soon.
{% endblocktrans %}

<h3>{% trans "How reliable is the data?" %}</h3>
{% blocktrans %}
<p>While evaluating the data, keep in mind that it might be inaccurate in case
of the old records and incomplete in a way. Here is why:</p>

<p>We translate IP addresses to reverse DNS entries based on a data set that
was published quite recently. At the same time, a lot of WikiSpy entries date
back to a few years ago, which means that the IPs could be owned by different
entities then. Because of that, the later the particular Wikipedia revision
was made, the more accurately it was matched to its reverse DNS.</p>

<p>As for the incompleteness of the data, it is important to remember that
the reports show only changes made by unregistered users. We do not track
the registered ones as these do now show in the Wikipedia history along with
their IP address.</p>

<p>Now, here's some good news: the project can be reproduced and verified by
anyone. The data sets on which WikiSpy is based are widely available and the
source code behind this website and the database generation tool can be found on
<a href="https://github.com/d33tah/wikispy">GitHub</a>.</p>
{% endblocktrans %}

{% endblock %}
